.skills {
  color: #c770f0;
  opacity: 0.8;
  display: grid;
  grid-template-columns: max-content;
  grid-template-rows: auto auto;
  gap: 2rem;
  padding-top: 20vh;
  overflow: auto;
  justify-content: space-around;
}
.backend {
  display: grid;
  justify-content: start;
}
.container {
  text-align: left;
  display: grid;
  margin-left: 2rem;
  font-size: 1.4rem;
  border: 2px solid #c770f0;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 18px #c770f0;
}
.container:hover {
  transform: scale(1.02) translateY(-5px);
  box-shadow: 7px 7px 18px #c770f0;
}

.container p {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 500;
}

.skills img {
  height: 10vw;
  padding: 1rem 0 2rem 3rem;
  grid-row: 2;
}
.skills img:first-of-type {
  margin-left: 1rem;
}

@media screen and (max-width: 1200px) {
  .skills img {
    height: 5rem;
    padding: 0 0 2rem 1rem;
  }
  .skills {
    padding-top: 12rem;
  }
}
