.main {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  justify-content: space-between;
}
.typing {
  font-size: 3rem;
  text-align: left;
  margin-left: 10vw;
  color: #fefefe;
  width: 30rem;
  padding-top: 30vh;
  flex-grow: 1;
}
.typed {
  color: #c770f0;
  transform: translateX(30%);
}
.imageContainer img {
  display: block;
  padding-top: 20vh;
  padding-right: 6vw;
  width: 40vw;
}
@media screen and (max-width: 1200px) {
  .imageContainer img {
    display: none;
  }
  .typing {
    padding-top: 15rem;
    font-size: 2rem;
    margin-left: 20vw;
  }
}
