html {
  font-size: 11px;
}
@media (min-width: 768px) {
  html {
    font-size: 13px;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 1280px) {
  html {
    font-size: 17px;
  }
}
.App {
  text-align: center;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ion-icon {
  pointer-events: none;
}

.hidden {
  display: none;
}

.waving {
  animation-name: waving;
  animation-duration: 0.5s;
  animation-iteration-count: 2;
  display: inline-block;
  transform: rotate(20deg);
}
@keyframes waving {
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(90deg);
  }
}
