nav {
  font-size: 1.3rem;
  font-weight: 400;
  color: #cec8c4;
  z-index: 100;
  position: fixed;
  top: 0rem;
  left: 0;
  display: block;
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
  height: 100vh;
  overflow: hidden;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-inline: 1rem;
  height: 95%;
}
nav li {
  display: inline;
  margin-block: 0.5rem;
  cursor: pointer;
  width: fit-content;
  display: inline-flex;
  gap: 1rem;
  opacity: 0.8;
}
nav li:hover {
  opacity: 1;
}

nav ion-icon {
  vertical-align: baseline;
}

.navButton {
  text-align: right;
  justify-content: end;
}
#menu {
  margin-bottom: 15vh;
  position: relative;
}

#linkedIn {
  margin-top: auto;
}

.navHidden {
  width: 3rem;
  transition: width 0.5s ease-in-out;
}
.navHidden ul {
  padding: 0;
}
.navHidden ul span {
  display: none;
}
.navHidden .navButton {
  width: 100%;
}
.navHidden .navButton {
  text-align: right;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  nav ul {
    height: 90%;
  }
}

li a {
  text-decoration: none;
}
li a:hover,
li a:visited {
  color: #cec8c4;
}
