nav {
  font-size: 1.3rem;
  font-weight: 400;
  color: #cec8c4;
  z-index: 100;
  position: fixed;
  top: 0rem;
  right: 2rem;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
nav li {
  display: inline;
  margin: 1rem;
  cursor: pointer;
  width: fit-content;
}
nav li::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: #c770f0;
  transition: width 0.3s ease-in-out;
}
nav li:hover {
  color: #f5eeea;
}
nav li:hover::after {
  width: 100%;
}
